@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Mukta", sans-serif;
}

:root {
  --text-color: #fefefe;
  --highlight-text-color: #46aef6;
  --bg-color: #343434;
  --second-bg-color: #575757;
  --shadow-effect: #181818;
}

html {
  overflow: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

small {
  font-size: 0.6em;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
}

.header {
  font-size: 2rem;
  padding: 2rem 5%;
}

.avatars-container {
  display: inline-flex;
  justify-content: flex-start;
  gap: 1rem;
}

.avatar-box {
  position: relative;
}

.avatar-box a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--second-bg-color);
  box-shadow: 0 0 0.5rem var(--shadow-effect);
  width: 4.5rem;
  height: 4.5rem;
  background: url(../images/avatar.jpeg);
  background-size: cover;
  outline: 0px solid var(--highlight-text-color);
  transition: 0.1s;
}

.avatar-box span {
  opacity: 0;
  position: absolute;
  bottom: -1.8rem;
  left: -20%;
  text-align: center;
  color: var(--highlight-text-color);
  white-space: nowrap;
  font-size: 1.8rem;
  transition: 0.2s ease;
}

.avatar-box:hover a {
  outline-width: 4px;
}

.avatar-box:hover span {
  opacity: 1;
}

.system-container {
  display: inline-flex;
  justify-content: flex-end;
  gap: 1rem;
}

.icon-span {
  display: grid;
  align-items: center;
}

.footer {
  margin: 0rem 3%;
  padding: 1rem 2%;

  border-top: 1px solid var(--text-color);
  font-weight: 300;
}

.controllers-container,
.controller {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.controller {
  gap: 0.5rem;
}

.controller-lights {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.controller-lights .led {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--second-bg-color);
}

.led.active {
  scale: 1.4;
  background: #95f600;
}

.controllers-container img {
  height: 4rem;
}

.commands-container {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  font-size: 2rem;
}

.command {
  display: none !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  gap: 0.5rem;
  transition: 0.2s;
}

.command.active {
  display: inline !important;
}

.command:hover {
  background: var(--second-bg-color);
}

.command:hover .btn {
  color: var(--second-bg-color);
}

.command .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background: var(--text-color);
  color: var(--bg-color);
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 500;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3rem 0;
}

main .games {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.game-card {
  position: relative;
}

.game-card img {
  height: 17vw;
  transition: 0.2s ease;
  border: 4px solid transparent;
}

.game-card marquee {
  opacity: 0;
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 2.5rem;
  white-space: nowrap;
  color: var(--highlight-text-color);
  transition: 0.2s;
  min-width: 400px;
}

.game-card:hover img {
  outline: 5px solid var(--highlight-text-color);
}

.game-card:hover marquee {
  opacity: 1;
}

main .options {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.option-card {
  position: relative;
}

.option-card a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 10vh;
  height: 10vh;
  background: var(--second-bg-color);
  border-radius: 50%;
  font-size: 5vh;
  color: var(--text-color);
  outline: 0px solid var(--highlight-text-color);
  transition: 0.1s;
}

.option-card a.switch-online {
  background: url(../images/ns-online.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.option-card a.notification {
  color: #ff5539;
}
.option-card a.shop {
  color: #ffb200;
}
.option-card a.album {
  color: #369dff;
}

.option-card a.controller {
  transform: rotate(-225deg);
}

.option-card span {
  opacity: 0;
  position: absolute;
  bottom: -3rem;

  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;

  color: var(--highlight-text-color);
  white-space: nowrap;
  font-size: 2rem;
  transition: 0.2s ease;
}

.option-card:hover a {
  outline-width: 4px;
}
.option-card:hover span {
  opacity: 1;
}

@media (max-height: 721px) {
  * {
    font-size: 80%;
  }
}
